div.col-sm {
  display: inline-block;
  text-align: center;
  border: 1px solid;
}
button{
  display: block;
  float: right;
}
.row{
  margin-left: 1px;
}
.title{
  margin-left: 16px;
}
.erro{
  font-size: 11px;
  margin-bottom: -13px;
}
